@font-face {
    src: url(../assets/fonts/OfficinaSansStd-Bold.otf);
    font-family: amazon-font;
}

.shopping-cart-header {
    font-family: amazon-font;
    font-size: 1.5rem;
    margin-left: 2%;
    margin-top: 2%;
    border-bottom: 2px solid black;
    border-image: linear-gradient(to right, white, lightgray, white);
    border-image-slice: 1;
    width: 60%;
    padding-bottom: 10px;
}

.list-of-cart-items {
    margin-top: 10px;
}

.entire-cart-product {
    display: flex;
    flex-direction: row;
}

.cart-product-img img {
    width: 225px;
    height: 150px;
}

.cart-product-name {
    font-family: sans-serif;
    font-weight: 700;
    width: 80%;
}

.cart-product-price {
    color: rgb(163, 0, 0);
    font-family: amazon-font;
    font-size: 18px;
}

.cart-product-name-price-description {
    // border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-product-name-price {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 5px;
}

.cart-product-description {
    margin-bottom: 10px;
    margin-left: 5px;
    color: rgb(110, 110, 110);
    font-family: sans-serif;
    font-size: 13px;
}



