.navbar {
    display: flex;
    background-color: rgb(35,46,63);
    padding: 1.0%;
}

.white {
    font-family: amazon-font;
    font-size: 30px;
    border-bottom: 2px solid orange;
    color: white;
}