.buy-cart-icon {
    background-image: url('./sprite.png');
    background-size: 400px 900px;
    background-position: -35px -35px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    height: 25px;
    width: 25px
}

.add-to-cart-btn {
    background-color: #f0c14b;
    border-top-color: rgb(168, 135, 52);
    border-right-color: rgb(156, 126, 49);
    border-bottom-color: rgb(132, 106, 41);
    border-left-color: rgb(156, 126, 49);
    color: #111;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
}